#char {
    font-size: 8em;
}

/* .row, .cell { */
.character {
    transform-origin: 0 0;
}

.row {
    clear: both;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}

.cell {
    float: left;
    position: relative;
    /* outline: 1px dashed green; */
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    width:1em;
    height:1em;
    line-height:1em;
}


.character {
    width:100%;
    position: absolute;
    /* outline: 1px dashed blue; */
}