#char {
    font-size: 8em;
}

#char span {
    float: left;
    line-height: 0.5em;
}

#char span, #char div {
    transform-origin: 0 0;
}

#char div {
    clear: both;
}

#char div span:only-child {
    font-size: 0.5em;
    width: 1em;
    transform: scaleX(2);
}

#char span:not(:only-child) span {
    /* font-size: 0.5em; */
    width: 0.5em;
    transform: scaleX(1);
}